@import "../../../layouts/variables";
@import "../../../layouts/mixins";

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: $secondary-color;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.1);

  .btn {
    margin-bottom: 30px;
    background-color: $secondary-color;
    border-color: $primary-color;
    color: $primary-color;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 20px;
  }

  &-menus {
    padding: 10px;

    > div:not(:last-of-type) {
      border-bottom: 1px solid #dfdfdf;
    }

    button {
      background: transparent;
      border: none;
      padding: 20px;
    }
  }

  &-wrapper {
    height: calc(100% - 126px);
    flex: 1;
    justify-content: space-between;
  }

  a, button {
    padding: 20px;
    text-decoration: none;
    font-size: 1.4rem;
    color: $lighter-grey-color;
    display: block;
  }

  a + svg {
    fill: $light-grey-color;
    opacity: 0;
    transition: opacity 0.3s 0.3s;
  }
}

.sidenav.open {
  a + svg {
    opacity: 1;
  }
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
}

.sidenav-trigger {
  position: absolute;
  top: 25px;
  right: 25px;
  display: none;

  @include phone {
    display: unset;
  }

  @include tablet {
    display: unset;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}