{
  "parser": "babel-eslint",
  "extends": ["airbnb", "eslint-config-prettier"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "linebreak-style": ["off"]
  }
}
