.Clients {

  &-list {
    margin-top: 40px;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
  }

}

.Client {
  min-width: 300px;
  max-width: 300px;
  height: 300px;
  padding: 20px;
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 10px;

  &-logo {
    height: 50px;
    max-width: 120px;
    object-fit: contain;
  }

  p {
    max-height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}