@import '../../layouts/variables';
@import '../../layouts/mixins';

.Skills {
  &-heading {
    color: $dark-grey-color;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      width: 20%;
      position: absolute;
      bottom: -15px;
      left: 40%;
      color: $primary-color;
      height: 2px;
      background-color: $primary-color;
    }
  }

  &-description {
    padding: 20px;

    @include phone {
      padding: 10px;
    }

    p {
      color: $light-grey-color;
      margin: 5px;
    }
  }

  &-link {
    padding: 10px 0;
    text-transform: uppercase;
    color: $light-grey-color;
    font-weight: 400;
    cursor: pointer;

    &.active {
      color: $primary-color;

      @include phone {
        color: $light-grey-color;
      }
    }

    > div:first-of-type {
      @include phone {
        padding: 10px;
        border-bottom: 1px solid #eaeaea;
        margin: 10px;
      }
    }
  }

  &-link-list {
    .Skills-grid__item {
      display: none;
    }

    @include phone {
      display: flex;
      flex-direction: column;
      align-items: center;

      .Skills-grid__item {
        display: flex;
      }
    }

  }

  &-active {
    @include phone {
      display: none;
    }
  }

  &-grid {
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: column;
      box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.1);
      padding: 40px;

      @include phone {
        box-shadow: unset;
        padding: 20px 10px;
        text-align: center;
      }

      &:hover {
        box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.2);

        @include phone {
          box-shadow: unset;
        }
      }

      p {
        text-align: justify;
        margin: 0;
        color: $light-grey-color;
        text-transform: none;

        @include phone {
          text-align: center;
        }
      }

      h4 {
        font-weight: 400;
        margin: 0;
        color: $light-grey-color;
        text-transform: uppercase;
      }
    }

    @include phone {
      flex-direction: column;
    }
  }
}

.Item {
  &-icon {
    text-align: center;
    min-width: 100px;
  }

  &-title {
    margin: 20px 0;
    position: relative;

    &::after {
      content: '';
      width: 80%;
      position: absolute;
      bottom: -6px;
      left: 10%;
      height: 2px;
      background-color: $primary-color;
    }
  }
}
