@import "../../layouts/variables";

.About {

  &-heading {
    text-transform: uppercase;
  }

  &-description {
    padding-top: 40px;

    > div {
      position: relative;
      padding-top: 20px;

      &:last-of-type {
        .border-vertical {
          width: 15%;
          top: 40px;
          right: -30px;
        }
      }

      p {
        position: relative;
        margin: 0;
        padding: 0 20px 20px 0;
      }

      p:last-of-type {
        padding-left: 20px;
        padding-right: 0;
      }

      .border-vertical {
        width: 10%;
        position: absolute;
        right: -15px;
        top: 25px;
        height: 1px;
        background-color: darken($grey-color, 10);
        transform: rotate(90deg);
      }

      &:not(:last-of-type) {
        p {
          position: relative;
          &:after {
            content: '';
            width: 80%;
            position: absolute;
            bottom: -15px;
            left: 0;
            height: 1px;
            background-color: darken($grey-color, 10);
          }

          &:last-of-type {
            &:after {
              left: unset;
              right: 0;
            }
          }
        }


      }


      //&:not(:last-of-type) {
      //  p {
      //    border-bottom: 1px solid darken($grey-color, 15);
      //  }
      //}
      //p {
      //  &:first-of-type {
      //    padding-right: 30px;
      //    padding-bottom: 30px;
      //    border-right: 1px solid darken($grey-color, 15);
      //
      //  }
      //  &:last-of-type {
      //    padding-left: 30px;
      //  }
      //}
    }
  }
}