@import "../../layouts/variables";
@import "../../layouts/mixins";

.About {

  &-heading {
    color: $dark-grey-color;
    text-transform: uppercase;
  }

  &-description {
    padding-top: 40px;

    > div {
      position: relative;
      padding-top: 20px;

      @include phone {
        flex-direction: column;
        text-align: center;
        padding-top: 0;
      }

      &:last-of-type {
        .border-vertical {
          width: 15%;
          top: 40px;
          right: -30px;
        }
      }

      p {
        position: relative;
        margin: 0;
        padding: 0 20px 20px 0;
        color: $light-grey-color;

        @include phone {
          line-height: 1.5;
          padding: 5px 5px 20px;
        }
      }

      p:last-of-type {
        padding-left: 20px;
        padding-right: 0;

        @include phone {
          padding: 5px 5px 20px;
        }
      }

      .border-vertical {
        width: 10%;
        position: absolute;
        right: -15px;
        top: 25px;
        height: 1px;
        background-color: darken($grey-color, 10);
        transform: rotate(90deg);

        @include phone {
          display: none;
        }
      }

      p {
        position: relative;
        &:after {
          content: '';
          width: 80%;
          position: absolute;
          bottom: -15px;
          left: 0;
          height: 2px;
          background-color: darken($grey-color, 10);

          @include phone {
            bottom: 0;
            left: 10%;
          }
        }

        &:last-of-type {
          &:after {
            left: unset;
            right: 0;

            @include phone {
              right: unset;
              left: 10%;
            }
          }
        }
      }

      @include desktop {
        &:last-of-type {
          p {
            &:after {
              display: none;
            }
          }
        }
      }

      @include phone {
        &:last-of-type {
          p:last-of-type {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}