@import "../layouts/variables";

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }

  &-50 {
    flex: 50%;
  }

  &-100 {
    flex: 100%;
  }

  &-auto {
    flex: auto;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-center {
    align-items: center;
    justify-content: center;
  }

  &-sa {
    justify-content: space-around;
  }

  &-sb {
    justify-content: space-between;
  }
}

.margin-auto {
  margin: 0 auto;
  max-width: 960px;
}

.dark-container {
  color: $secondary-color;
  background-color: $primary-color;
}

.padded {
  padding: 100px 0;
}

.btn {
  border: none;
  background-color: #66c8c1;
  padding: 10px;
  border-radius: 30px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 3px 6px 0 rgba(0,0,0, 0.23);
  outline: none;
  width: 150px;
  justify-content: center;
}