@import "../../pages/variables";

h1 {
  color: #ffffff;
  max-width: 500px;
}

.sticky {
  width: 100%
}

.fixed {
  position: fixed;
  top:0;
}

.sticky.fixed {
  background-color: $primary-color;
}

.fixed + div {
  padding-top: 128px;
}

.header {
  background-color: #48494a;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 20px;
  background-position: center top;
  height: 580px;

  ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
  }
}