@import "../../layouts/variables";
@import "../../layouts/mixins";

.sticky {
  width: 100%
}

.fixed {
  position: fixed;
  top:0;
}

.sticky.fixed {
  //background-color: $secondary-color;
  box-shadow: 0 14px 10px -15px $primary-color;
}

.fixed + div {
  padding-top: 128px;
}

.header {
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 400px;

  @include phone {
    min-height: 80px;
  }

  @include tablet {
    min-height: 200px;
  }

  &-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;

    @include phone {
      padding: 80px 5px;
    }

    @include tablet {
      padding: 50px 5px;
    }

    h1 {
      font-size: 5rem;
      color: $secondary-color;
      text-transform: uppercase;

      @include phone () {
        font-size: 2.8rem;
      }
    }

    h1:first-of-type {
      font-size: 5rem;

      @include phone () {
        font-size: 3.5rem;
      }
    }

    h1:not(:first-of-type) {
      font-weight: 300;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    font-size: 1.2rem;
    color: $secondary-color;

    li {
      padding-bottom: 10px;
      display: flex;
      font-size: 1.1rem;

      span {
        margin-right: 10px;
      }
    }
  }
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;

  &-item {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 5px;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &-list {
    @include phone {
      display: none !important;
    }

    @include tablet {
      display: none !important;
    }
  }

  .logo {
    @include phone {
      margin-left: 20px;
    }
  }

}