@import "../../layouts/variables";

h1 {
  color: #ffffff;
  max-width: 500px;
}

.sticky {
  width: 100%
}

.fixed {
  position: fixed;
  top:0;
}

.sticky.fixed {
  background-color: $primary-color;
  box-shadow: -8px 14px 44px -16px rgba(0,0,0,0.75);

}

.fixed + div {
  padding-top: 128px;
}

.header {
  background-color: #48494a;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 20px;
  background-position: center top;
  height: 580px;

  &-heading {
    margin: 100px auto 0 auto;
    max-width: 960px;

    h1 {
      padding-bottom: 30px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    font-size: 1.2rem;
    color: $secondary-color;

    li {
      padding-bottom: 10px;
      display: flex;
      font-size: 1.1rem;

      span {
        margin-right: 10px;
      }
    }
  }
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;

  &-item {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
}