@import "../../../layouts/variables";

.heading {
  color: $dark-grey-color;
  display: inline-block;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;

  &.small {
    font-size: 1.5rem;
  }

  &.lighter {
    color: $lighter-grey-color;
  }

  &::after {
    content: '';
    width: 70%;
    position: absolute;
    bottom: -10px;
    left: 15%;
    color: $primary-color;
    height: 2px;
    background-image: linear-gradient($primary-color, pink);
    opacity: 0.4;
  }
}