$primary-color: #00c8c2;
$secondary-color: #ffffff;
$grey-color: rgba(249, 249, 249, 0.58);
$primary-font-family: 'Roboto', sans-serif;
$base-font-size: 1rem;
$large-font-size: 1.5rem;
$larger-font-size: 2rem;
$phone-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1366px;
$x-large-desktop-width: 1520px;