$primary-color: #00c8c2;
$secondary-color: #ffffff;
$grey-color: rgba(249, 249, 249, 0.58);
$light-grey-color: #999999;
$lighter-grey-color: #8f8f8f;
$dark-grey-color: #555555;
$footer-background-color: #f8f8f8;
$primary-font-family: 'Lato', sans-serif;
$base-font-size: 1rem;
$large-font-size: 1.5rem;
$larger-font-size: 2rem;
$phone-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1366px;
$x-large-desktop-width: 1520px;